<footer>
  <div class="footer-container">
    <div class="footer-brand">
      <h1>Beauty Salon.</h1>
      <span>Stay up to date with our offers and promotions</span>
    </div>
    <div class="footer-section footer-services">
      <h3>Services</h3>
    </div>
    <div class="footer-section footer-hours">
      <h3>Working hours</h3>
      <span class="day">Monday - Friday</span>
      <span class="time">08:00 AM to 07:00 PM</span>
      <span class="day">Saturday</span>
      <span class="time">10:00 AM to 07:00 PM</span>
      <span class="day">Sunday</span>
      <span class="time">Closed</span>
    </div>
    <div class="footer-section footer-contact">
      <h3>Get in touch</h3>
      <div class="contact-email">
        <span
          ><i class="fa-thin fa-envelope"></i>
          Raoeraromixeno&#64;gmail.com</span
        >
        <span
          ><i class="fa-thin fa-envelope"></i> KamiRakoto&#64;gmail.com</span
        >
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span>Copyright &copy; 2024 - Romino - Mickael </span>
  </div>
</footer>
