<div class="hero">
  <img src="assets/herobg.jpg" alt="" />
  <div class="hero-content">
    <h1>
      STYLE IS A CHOICE.<br />
      MAKE YOURS.
    </h1>
    <!-- <span
      >We see "YOU" and we create the look that matches best your
      personality</span
    >
    <span
      >We invite you to spend time in Beauty Salon <br />Our masters realize
      your every idea at the highest level</span
    > -->
    <span
      >Discover 'YOU' in our Beauty Salon, where we craft looks tailored to
      match your unique personality. Let our masters bring your every idea to
      life at the highest level of artistry.</span
    >
    <div class="line"></div>
    <button class="btn-appointment" [routerLink]="['/appointment']">
      Make an Appointment
    </button>
  </div>
</div>
