<section class="mg-employees">
  <!-- <div class="services-filter">
      <div class="services-filter-search">
        <label for="">Type</label>
        <select name="" id="">
          <option value="all">all</option>
        </select>
        <input type="search" name="" id="" placeholder="search..." />
      </div>
    </div>
    <div class="services-option-add-services">
      <button (click)="showForm()">Add Services</button>
    </div> -->

  <mg-employees-table></mg-employees-table>
</section>
