<div class="overlay-form">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="btn-close">
      <button (click)="closeForm($event)">
        <i class="fa-regular fa-xmark"></i>
      </button>
    </div>
    <div class="icon">
      <i class="fa-solid fa-passport"></i>
    </div>
    <div class="sb sb-error" *ngIf="errorMessage">Error</div>
    <div class="sb sb-success" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <div class="input-container">
      <div class="input-box">
        <label for="">Current Password</label>
        <input
          type="password"
          placeholder="...."
          formControlName="currentPassword"
        />
        <small
          *ngIf="passwordForm.get('currentPassword').errors?.['required'] && passwordForm.get('currentPassword').touched"
          >*Field required</small
        >
      </div>

      <div class="col" formGroupName="pass">
        <div class="input-box">
          <label for="">New Password</label>
          <input
            type="password"
            placeholder="...."
            formControlName="password"
          />
          <small
            *ngIf="passwordForm.get('pass.password').errors?.['required'] && passwordForm.get('pass.password').touched"
            >*Password must be required</small
          >
        </div>
        <div class="input-box">
          <label for="">Confirm Password</label>
          <input
            type="password"
            placeholder="...."
            class="confirm-password"
            [ngClass]="{
              disabled: !passwordForm.get('pass.password').value,
              required:
                passwordForm.get('pass.confirmPassword').value == '' ||
                passwordForm.get('pass.confirmPassword').value == null
            }"
            formControlName="confirmPassword"
          />
          <small
            *ngIf="passwordForm.get('pass.confirmPassword').errors?.['required'] && passwordForm.get('pass.confirmPassword').touched"
            >*Confirm your password</small
          >
        </div>
      </div>
    </div>
    <div class="button">
      <button type="submit" [disabled]="passwordForm.invalid">
        Change Password
      </button>
    </div>
  </form>
</div>
