<div class="overlay">
  <form [formGroup]="mgForm" (ngSubmit)="mgFormSubmit()">
    <div class="form-top">
      <h2>{{ !isEditMode ? "Add Services" : "Update Services" }}</h2>
      <button class="btn-close" (click)="closeForm()">
        <i class="fa-light fa-xmark"></i>
      </button>
    </div>
    <div class="form-drag-area" appDrag (fileDropped)="onFileDropped($event)">
      <img [src]="imgUrl" alt="" class="img-preview" *ngIf="imgUrl" />
      <img
        src="http://localhost:3001{{ service.image }}"
        alt=""
        *ngIf="!imgUrl && service"
        class="img-preview"
      />
      <i class="fa-light fa-cloud-arrow-up icon"></i>
      <span>Drag & Drop to Upload File</span>
      <span>OR</span
      ><button (click)="triggerFileInput(fileInput, $event)">
        Browse file
      </button>
      <input
        type="file"
        hidden="true"
        #fileInput
        formControlName="image"
        (change)="fileChanged($event)"
      />
    </div>
    <small *ngIf="!file && !service">* Image is required *</small>
    <div class="sb sb-error" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="input-container">
      <div class="col">
        <div class="input-box">
          <label for="">Type</label>
          <select formControlName="type">
            <option [value]="type.name" *ngFor="let type of serviceTypeList">
              {{ type.name }}
            </option>
          </select>
          <!-- <input type="text" formControlName="type" /> -->
          <small
            *ngIf="
              mgForm.get('type').errors?.['required'] &&
              mgForm.get('type').touched
            "
            >*Type is required</small
          >
        </div>
        <div class="input-box">
          <label for="">Name</label>
          <input type="text" formControlName="name" />
          <small
            *ngIf="
              mgForm.get('name').errors?.['required'] &&
              mgForm.get('name').touched
            "
            >*Name is required</small
          >
        </div>
      </div>
      <div class="col">
        <div class="input-box">
          <label for=""><i class="fa-solid fa-tag"></i>Price</label>
          <input type="number" formControlName="price" />
          <small
            *ngIf="
              mgForm.get('price').errors?.['required'] &&
              mgForm.get('price').touched
            "
            >*Price is required</small
          >
        </div>
        <div class="input-box">
          <label for=""
            ><i class="fa-regular fa-timer"></i>Duration (min)</label
          >
          <input type="number" formControlName="duration" />
          <small
            *ngIf="
              mgForm.get('duration').errors?.['required'] &&
              mgForm.get('duration').touched
            "
            >*Duration is required</small
          >
        </div>
      </div>
      <div class="input-box">
        <label for="">Commission</label>
        <input type="number" formControlName="commission" />
        <small
          *ngIf="
            mgForm.get('commission').errors?.['required'] &&
            mgForm.get('commission').touched
          "
          >*Commission is required</small
        >
      </div>
      <div class="input-box">
        <label for="">Description</label>
        <textarea resize="false" formControlName="description"></textarea>
        <small
          *ngIf="
            mgForm.get('description').errors?.['required'] &&
            mgForm.get('description').touched
          "
          >*Description is required</small
        >
      </div>
      <button
        type="submit"
        class="btn-submit"
        [disabled]="mgForm.invalid"
        [ngClass]="{ disabled: mgForm.invalid }"
      >
        {{ !isEditMode ? "Add" : "Update" }}
      </button>
    </div>
  </form>
</div>
