<welcome-message>
  <h1 class="presentation-text"></h1>
</welcome-message>
<section class="section-myTasks">
  <h1>My Tasks</h1>
  <div class="tasks-container">
    <!-- <table>
      <tr>
        <th>No.</th>
        <th>Services.</th>
        <th>Duration.</th>
        <th>Date.</th>
        <th>Status.</th>
      </tr>
    </table> -->

    <table mat-table #table [dataSource]="tasksList">
      <ng-container matColumnDef="No.">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="Client">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let element">
          {{ element.clientId.firstName + " " + element.clientId.lastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Services">
        <th mat-header-cell *matHeaderCellDef>Services</th>
        <td mat-cell *matCellDef="let element">
          <ul *ngFor="let service of element.services">
            <li *ngFor="let name of service.serviceIds">
              {{ name.name }}
            </li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalDuration | durationFormat }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateTime | customDate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columToDisplay"></tr>
    </table>
  </div>
</section>
