<welcome-message>
  <h1 class="presentation-text">
    Select your preferred date, time, and service, and let us take care of the
    rest. It's quick and easy
  </h1>
</welcome-message>

<section class="section-appointment-section">
  <h1>Appointment <i class="fa-regular fa-calendar-check"></i></h1>

  <div class="container">
    <div class="appointment-form">
      <h3>Choose Your Date</h3>
      <!-- <span class="step">> Select Date</span> -->
      <div class="select-date">
        <input
          [owlDateTime]="dt"
          [min]="min"
          class="disable"
          [owlDateTimeTrigger]="dt"
          [(ngModel)]="dateTest"
          (dateTimeChange)="checkChange($event)"
          placeholder="jj/mm/aaaa --:--"
        />
        <span [owlDateTimeTrigger]="dt">
          <i class="fa-regular fa-calendar"></i>
        </span>
        <owl-date-time #dt [pickerMode]="'dialog'"></owl-date-time>
      </div>

      <div class="services-container" @fade>
        <h3>Our Services</h3>
        <!-- <span class="step">> Select Services</span> -->
        <div class="services-select">
          <ng-container *ngFor="let type of servicesType; index as i">
            <div class="col" *ngIf="hasSomeValue(type.name)">
              <mat-expansion-panel
                class="left-panel"
                [expanded]="selectedType && selectedType == type.name"
              >
                <mat-expansion-panel-header class="left-panel-header">
                  <mat-panel-title class="left-panel-header-type">
                    {{ type.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div
                  class="input-box"
                  *ngFor="let service of getServicesForType(type.name)"
                >
                  <div class="description">
                    <div class="name">{{ service.name }}</div>
                    <div class="price-duration">
                      <span class="price">{{ service.price }}€</span>
                      <div class="duration">
                        <i class="fa-light fa-clock"></i>
                        <span
                          >Approx. {{ service.duration | durationFormat }}</span
                        >
                      </div>
                    </div>
                    <div class="description-text">
                      {{ service.description }}
                    </div>
                  </div>
                  <mat-checkbox
                    [checked]="service.selected"
                    (change)="setSelected(service._id, type.name)"
                    [color]="'primary'"
                  ></mat-checkbox>
                </div>
              </mat-expansion-panel>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- *ngIf="getSelectedServicesLength() > 0" -->
      <div
        class="select-employee-container"
        *ngIf="getSelectedServicesLength() > 0"
        @fade
      >
        <h3>Choose the Employee</h3>

        <ng-container *ngFor="let type of servicesType">
          <!-- *ngIf="hasSomeSelected(type)" -->
          <div class="select-container" *ngIf="hasSomeSelected(type.name)">
            <div class="select-box">
              <div class="row">
                <label for="">{{ "For Your " + type.name }}</label>
                <div class="mat-select">
                  <mat-select
                    (selectionChange)="
                      onEmployeeSelectionChange(type.name, $event)
                    "
                  >
                    <mat-option
                      [value]="employee._id"
                      *ngFor="let employee of employeeList; index as i"
                      >{{
                        employee.firstName + " " + employee.lastName
                      }}</mat-option
                    >
                  </mat-select>
                </div>
              </div>
              <small *ngIf="errors[type.name]">*Employee is required</small>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<div
  class="service-selected"
  *ngIf="
    getSelectedServicesLength() > 0 &&
    dateTest &&
    getSelectedEmployeesLength() > 0
  "
  @fadeInOut
>
  <div class="left-side">
    <span class="total"
      >{{ getSelectedServicesLength() }} Services Selected</span
    >
    <div class="price-duration">
      <span class="price">{{ getTotalPrice().toFixed(2) }}€</span>
      <div class="duration">
        <i class="fa-light fa-clock"></i>
        <span>Approx. {{ getTotalDuration() | durationFormat }}</span>
      </div>
    </div>
  </div>
  <div class="right-side">
    <button
      class="btn-cancel"
      title="Cancel all selected service"
      (click)="onCancel()"
    >
      Cancel
    </button>

    <button class="btn-make-appointment" (click)="confirmAppointmentToggle()">
      Make an appointment
    </button>
  </div>
</div>
<app-confirm-appointment
  [selectedEmployees]="selectedEmployees"
  [selectedServices]="selectedServicesListFunc()"
  [dateTime]="dateTest"
  *ngIf="showConfirmAppointment"
  (closeFormBtnClicked)="confirmAppointmentToggle()"
></app-confirm-appointment>
<div class="overlay" *ngIf="showLoading">
  <div class="loader"></div>
</div>
