<section class="section-about-us">
  <div class="about-us-content">
    <div class="circle"></div>
    <span>ABOUT</span>
    <h1>We tell amazing stories</h1>
    <p>
      At our salon, we provide a diverse range of beauty and grooming services
      to enhance the appearance and well-being of our clients. Our services
      typically include hairstyling, haircuts, hair coloring, hair treatments,
      manicures, pedicures, facials, waxing, makeup application, and sometimes
      additional indulgences like massages or spa treatments. With a team
      dedicated to excellence and a commitment to personalized care, we strive
      to make every visit to our salon an unforgettable experience.
    </p>
  </div>
  <div class="about-us-photo">
    <img src="assets/staff.jpg" alt="" />
  </div>
</section>
