<div class="confirm-appointment-overlay">
  <div class="confirm-appointment-container">
    <div class="btn-close">
      <button (click)="closeForm()">
        <i class="fa-light fa-xmark"></i>
      </button>
    </div>
    <h2>Confirm your appointment</h2>
    <div class="checkout">
      <span class="date"
        >Scheduled for:
        <strong>{{ dateTime.toLocaleString('en-Us', {
           year: 'numeric',
      month: 'short',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      weekday: 'long',
        })}}</strong></span
      >
      <span>You have selected {{ selectedServices.length }} services :</span>
      <ul>
        <li *ngFor="let item of selectedServices">
          {{ item.name }} : <i class="fa-light fa-tag"></i> {{ item.price }}€ -
          <i class="fa-light fa-timer"></i> Approx
          {{ item.duration | durationFormat }}
        </li>
      </ul>
      <span class="total"
        >SubTotal: {{ getTotalPrice() }}€ - Duration:
        {{ getDurationTotal() | durationFormat }}</span
      >
    </div>

    <div class="paypal-button">
      <paypal
        [selectedServices]="selectedServices"
        [selectedEmployees]="selectedEmployees"
        [dateAppointment]="dateTime"
      ></paypal>
    </div>
  </div>
</div>
