<section class="section-services">
  <h1>Our Services</h1>
  <div class="services-list-container">
    <div class="service-list-item">
      <div class="service-image">
        <img src="assets/hair.jpg" alt="" />
      </div>
      <div class="service-detail">
        <h3 class="service-title">Hair Styling with Curls</h3>
      </div>
    </div>
    <div class="service-list-item">
      <div class="service-image">
        <img src="assets/hair-coloring.jpg" alt="" />
      </div>
      <div class="service-detail">
        <h3 class="service-title">Hair Coloring</h3>
      </div>
    </div>
    <div class="service-list-item">
      <div class="service-image">
        <img src="assets/pedicure_manicure.jpg" alt="" />
      </div>
      <div class="service-detail">
        <h3 class="service-title">Manicures and Pedicures</h3>
      </div>
    </div>
    <div class="service-list-item">
      <div class="service-image">
        <img src="assets/EyeBrow_Shaping.jpg" alt="" />
      </div>
      <div class="service-detail">
        <h3 class="service-title">Eyebrow Shaping and Tinting</h3>
      </div>
    </div>
    <div class="service-list-item">
      <div class="service-image">
        <img src="assets/pedicure_manicure.jpg" alt="" />
      </div>
      <div class="service-detail">
        <h3 class="service-title">Manicures and Pedicures</h3>
      </div>
    </div>
  </div>
  <button class="view-more-button" [routerLink]="['/services']">
    View More
  </button>
</section>
